body {
  font-family: Arial, sans-serif;
  background-color: #e4d8a9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00995d;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}

nav {
  background-color: #007a48;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  color: #00995d;
  border-bottom: 2px solid #00995d;
  padding-bottom: 5px;
}

footer {
  background-color: #00995d;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

form input, form textarea, form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #00995d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #007a48;
}

.integrante {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.info {
  flex: 1;
}

.botao-integrante-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.botao-integrante {
  background: #007a48;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.botao-integrante:hover {
  background: orange;
}

.integrante img {
  max-width: 150px;
  height: auto;
  border-radius: 6px;
}

footer {
  background-color: #00995d;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
